@import '../../../../index.scss';

.header {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;

  background-image: url('../../../../assets/images/Hero.png');
  background-repeat: space;
  background-size: cover;
  background-position: center;

  &_logo {
    position: absolute;
    left: 5%;
    top: 30px;
  }

  &_container {
    max-width: 430px;
    padding-left: 5%;

    .content-description {
      margin-top: 20px;

      @include small-device {
        max-width: 350px;
      }
    }
  }

  .primary-button {
    width: 156px;
    margin-top: 36px;
  }
}
